section.clients#clients 
	.container 
		h2 Наши клиенты
		.clients__wrap 
			.clients__pic
				img(loading="lazy" src=require('../../images/c1.png'), width="219" height="64" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c2.png'), width="218" height="75" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c3.png'), width="168" height="62" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c4.png'), width="218" height="87" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c5.png'), width="148" height="102" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c6.png'), width="187" height="79" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c7.png'), width="172" height="93" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c8.png'), width="169" height="55" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c9.png'), width="139" height="93" alt='')
			.clients__pic
				img(loading="lazy" src=require('../../images/c10.png'), width="124" height="41" alt='')